@media screen and (min-width: 800px){
    .head-container{
        max-width: 1200px;
        height: 40px; 
        padding: 0px 10px;
        border-radius: 10px;    
    }

    #logo{
        width: 30px;
    }

    #btn-darkmode{
        width: 30px;
        height: 30px;
        border-radius: 10px;
    }

    .navegation{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        padding-top: 10px;
    }

    #navegation-title{
        align-self: flex-start;
        color: var(--Neutral0); padding: 0px 0px 0px 0px; 
        font-size: 2em;
    }

    #container-list-extension{
        justify-content: flex-end;
        flex: 8 7;
    }

    .btn-status-extensions{
        flex: 0 0 70px;
        padding: 7px;
        border: none;
        border-radius: 15px;
        font-size: 1em;
        background-color: var(--Neutral700);
        color: var(--Neutral200);
    }

    #container-list-cards{
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        max-width: 1200px;
    }

    .card{
        width: 380px;
        margin-bottom: 0px;
        flex: 1 1 auto;
    }

    .card-title{
        color: var(--Neutral0);
        font-size: 1em;
    }

    .card-description{
        font-size: 0.9em;
    }

    .clickables button{
        font-size: 1em;
    }
}