@font-face{
    font-family: NotoSans;
    src: url(fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size: 1em;
    font-family: "NotoSans";
    scrollbar-width: none;
}

:root{
    --Neutral900: hsl(227, 75%, 14%);
    --Neutral800: hsl(226, 25%, 17%);
    --Neutral700: hsl(225, 23%, 24%);
    --Neutral600: hsl(226, 11%, 37%);
    --Neutral300: hsl(0, 0%, 78%);
    --Neutral200: hsl(217, 61%, 90%);
    --Neutral100: hsl(0, 0%, 93%);
    --Neutral0: hsl(200, 60%, 99%);

    --Red400: hsl(3, 86%, 64%);
    --Red500: hsl(3, 71%, 56%);
    --Red700: hsl(3, 77%, 44%);

    /*Gradient BG*/ 
    --LightGradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --DarkGradient: linear-gradient(180deg, #040918 0%, #091540 100%);

    --font-default: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 20px;
    
    background-image: var(--DarkGradient);
    background-attachment: fixed;
}

header{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    padding: 20px; 
}

header div.logo-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 10px;

    background-color: var(--Neutral800);
    border-radius: 15px;
}

header div.logo-container p{
    flex: 1 0 auto;

    font-size: 1.5em;
    color: var(--Neutral0);
}

header div.logo-container button{
    width: 40px;
    height: 40px;
    padding-top: 4px;

    border: none;
    border-radius: 15px;

    background-color: var(--Neutral700);
}

header div.logo-container button:hover{background-color: var(--Neutral600); cursor: pointer;}
button.btnfocus:focus{background-color: var(--Neutral600);}

header div.navegation{
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   justify-content: center;
    
   width: 100%;
}

header div.navegation h2{color: var(--Neutral0); padding: 20px 15px 15px 15px; font-size: 2.5em;}

header div.navegation div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    width: 100%;
}

header div.navegation div button{
    flex: 1 1 auto;
    padding: 7px;

    border: none;
    border-radius: 15px;
    font-size: 2em;
    
    background-color: var(--Neutral700);
    color: var(--Neutral200);
}

header div.navegation div button.btnfocus:hover{background-color: var(--Neutral600); cursor: pointer;}
header div.navegation div button.btnfocus:focus{color: var(--Neutral900); background-color: var(--Red500);}


h3{
    color: var(--Neutral0);
    font-size: 1.5em;
}

p{
    color: var(--Neutral300);
}

main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

main > section{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

article.card{
    display: flex;
    flex-flow: row wrap;

    padding: 20px;
    gap: 10px;
    margin-bottom: 10px;

    background-color: var(--Neutral800);
    border-radius: 15px;
}

article.card > img{
    flex: 0 0 content;
    align-self: flex-start;
}

article.card > div.content-card{
    flex: 1 0;
    display: flex;
    flex-flow: column wrap;
    
    gap: 5px;
}

article.card > div.content-card > p{
    font-size: 1.3em;
    text-align: left;
}

article.card > div.clickables{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 20px 0px;
}

article.card > div.clickables button{
    padding: 5px 15px;

    border-style: none;
    border: 1px solid var(--Neutral600);
    border-radius: 20px;
    
    font-size: 1.5em;
    background-color: var(--Neutral800);
    color: var(--Neutral0);
}


article.card > div.clickables button.btnfocus:hover{
    background-color: var(--Neutral0);
    color: var(--Neutral900);
    cursor: pointer;
}

article.card > div.clickables input{
    color: #040918;
    
    max-width: 5vw;

}


.bg-toggle-active, .bg-toggle-inactive{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 65px;
    height: 35px;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
}

.bg-toggle-active{
    background-color: var(--Red700);
}

.bg-toggle-inactive{
    background-color: var(--Neutral600);
}

.toggle-active, .toggle-inactive{
    border-radius: 50%;
    background-color: var(--Neutral0);
    width: 25px;
    height: 25px;
}

.toggle-inactive{
    align-self: flex-start;
}
.toggle-active{
    align-self: flex-end;
}

.toggle{

}