@font-face{
    font-family: NotoSans;
    src: url(fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size: 1em;
    font-family: "NotoSans";
    scrollbar-width: none;
}

:root{
    --font: hsl(227, 75%, 14%);
    --containers-bg: hsl(226, 25%, 17%);
    --buttonsHeader: hsl(225, 23%, 24%);
    --containers-bg-2: hsl(226, 11%, 37%);
    --description: hsl(0, 0%, 78%);
    --text-buttons-status: hsl(217, 61%, 90%);
    --Neutral100: hsl(0, 0%, 93%);
    --titles: hsl(200, 60%, 99%);
    --Red400: hsl(3, 86%, 64%);
    --button-status-select: hsl(3, 71%, 56%);
    --containers-bg-3: hsl(3, 77%, 44%);

    /*Gradient BG*/ 
    --LightGradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --DarkGradient: linear-gradient(180deg, #040918 0%, #091540 100%);
    --font-default: Arial, Helvetica, sans-serif;
}

body{
    width: 100dvw;
    height: 100dvh;
    padding: 20px; 
    background-image: var(--DarkGradient);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--font);
}

header{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 20px; 
}

.head-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: var(--containers-bg);
    border-radius: 15px;
}

#main-title{
    padding: 5px;
    flex: 1 0 auto;
    font-size: 1.5em;
    color: var(--titles);
}

#btn-darkmode{
    width: 40px;
    height: 40px;
    padding-top: 4px;
    border: none;
    border-radius: 15px;
    background-color: var(--buttonsHeader);
}

#btn-darkmode:hover{
    background-color: var(--containers-bg-2); 
    cursor: pointer;
}

.navegation{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#navegation-title{
    color: var(--titles); 
    padding: 20px 15px 15px 15px; 
    font-size: 2.5em;
}

#container-list-extension{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.btn-status-extensions{
    flex: 1 1 auto;
    padding: 7px;
    border: none;
    border-radius: 15px;
    font-size: 2em;
    cursor: pointer;
}

main{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#container-list-cards{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.card{
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    gap: 10px;
    margin-bottom: 10px;
    background-color: var(--containers-bg);
    border-radius: 15px;
}

.logo-extension{
    flex: 0 0 content;
    align-self: flex-start;
}

.content-card{
    flex: 1 0;
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
}

.card-title{
    color: var(--titles);
    font-size: 1.5em;
}

.card-description{
    color: var(--description);
    font-size: 1.3em;
    text-align: left;
}

.clickables{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
}

.btn-remove{
    padding: 5px 15px;
    border-style: none;
    border: 1px solid var(--containers-bg-2);
    border-radius: 20px;
    font-size: 1.5em;
    background-color: var(--containers-bg);
    color: var(--titles);
    cursor: pointer;
}

.btn-remove:hover{
    background-color: var(--titles);
    color: var(--font);
}

.clickables input{
    color: #040918;  
    max-width: 5vw;
}

.btn-status-normal{
    background-color: var(--buttonsHeader);
    color: var(--text-buttons-status);
}

.btn-status-normal:hover{
    background-color: var(--containers-bg-2); 
}

.btn-status-select{
    background-color: var(--button-status-select);
    color: var(--font); 
}

.bg-toggle-active, .bg-toggle-inactive{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 65px;
    height: 35px;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
}

.bg-toggle-active{
    background-color: var(--containers-bg-3);
}

.bg-toggle-inactive{
    background-color: var(--containers-bg-2);
}

.toggle-active, .toggle-inactive{
    border-radius: 50%;
    background-color: var(--titles);
    width: 25px;
    height: 25px;
}

.toggle-inactive{
    align-self: flex-start;
}

.toggle-active{
    align-self: flex-end;
}